.experiences-container {
  padding-bottom: 20px;
}

.experiences__title {
  margin-bottom: 4px;
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #aaa;
}

.experience-item {
  margin: 20px 0;
}

.experience-item__title {
  font-size: 1.6em;
  font-weight: 600;
}

.experience-item__subtitle {
  margin-bottom: 5px;
  color: #aaa;
  font-weight: 600;
  font-style: italic;
}