.skill-set-container {
  margin-bottom: 5px;
}

.skill-set__title {
  margin-bottom: 5px;
  color: #aaa;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 0 5px;
  color: #666;
  transition: color 150ms ease;
}
.skill-container:hover {
  color: #000;
  cursor: pointer;
}

.skill__level {
  position: relative;
  transform: scale(1);
  transition: transform 150ms ease;
}
.skill-container:hover .skill__level {
  z-index: 1;
  transform: scale(1.4);
}

.skill__level-text {
  position: absolute;
  line-height: 22px;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}