.skills-container {
  margin-bottom: 30px;
}

.skills__title {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #aaa;
}

.skill-set-container {
  margin-bottom: 5px;
}

.skill-set__title {
  margin-bottom: 5px;
  color: #aaa;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  padding: 1px 5px;
}